@import "tailwindcss";

@theme {
  --color-primary-100: #00ff00;
  --color-btn-color: #1f1f1f;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #000000;

  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020901;
  color: var(--color-primary-100);

  /* text-shadow: 0 0 3px #19d78d, 0 0 5px #19d78d, 0 0 10px #19d78d; */
}
input,
textarea {
  outline: none;
}

.landing-height {
  min-height: calc(100vh - 80px);
}
